/* 
    General Styles
*/
body{
    background-image: url("https://www.freepnglogos.com/uploads/rick-and-morty/rick-and-morty-background-rick-and-morty-wallpaper-background-image-30.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  
    
}